body{
    background-color: honeydew;
}

p2{
    font-family: Arial; 
    color:darkblue;
}
#output{
    font-family: Arial;
    color: hotpink;
}

.c1{
    font-family: Arial;
}

.c2{
    color: lightseagreen;
}
